<h2>Bikes</h2>
<p>
  <a routerLink='/bikes/new' class="btn btn-primary">New Bike</a>
</p>

<div class="form-group">
  <label for="make">Make</label>
  <select id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterChange()">
    <option value=""></option>
    <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
  </select>
</div>
<button class="btn btn-dark mb-2" (click)="resetFilter()">Reset</button>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable; else isNotSortable">
          <div (click)="sortBy(c.key)">
            {{ c.title }}
            <i *ngIf="query.sortBy === c.key"
               class="fa"
               [class.fa-sort-asc]="query.isSortAscending"
               [class.fa-sort-desc]="!query.isSortAscending"></i>
          </div>
        </div>
        <ng-template #isNotSortable>
          {{ c.title }}
        </ng-template>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of queryResult.items">
      <td>{{ b.id }}</td>
      <td>{{ b.make.name }}</td>
      <td>{{ b.model.name }}</td>
      <td>{{ b.contact.name }}</td>
      <td>
        <a [routerLink]="['/bikes/', b.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
